######################################################################
##
## RUnit
## =====================================
##
## inst/NAMESPACE
## =====================================
## initialization of classes, namespace, ...
##
##
##
##
## Version
## =====================================
##  $Id$
##
##
######################################################################

import(utils)
import(methods)


##  alphabetic order
export(newSourceFileTestResultData,
       newTestCaseTestResultData,
       newTestLogger,
       newTestResultData,
       newTestSuite,
       newTestSuiteTestResultData,
       ".setUp",
       ".tearDown",
       "checkTrue",
       "checkEquals",
       "checkEqualsNumeric",
       "checkException",
       "checkIdentical",
       "DEACTIVATED",
       "defineTestSuite",
       "getErrors",
       "inspect",
       "isValidTestSuite",
       "print.RUnitTestData",
       "printTextProtocol",
       "printHTMLProtocol",
       "printHTML.trackInfo",
       "runTestSuite",
       "runTestFile",
       "summary.RUnitTestData",
       "tracker")


exportClasses(Array,
              SourceFileTestResultData,
              SourceFileTestResultDataArray,
              TestCaseTestResultData,
              TestCaseTestResultDataArray,
              TestLogger,
              TestResultData,
              TestSuite,
              TestSuiteArray,
              TestSuiteTestResultData,
              TestSuiteTestResultDataArray)


exportMethods(##asRUnitTestSuite,
##              clusterApply,
              concat,   ##  Array internal
              getDeactivated,
              getError,
              getErrorMsg,
              getExecTime,
              getFailure,
              getFunctionName,
              getSetUpError,
              getSourceFileName,
              getTearDownError,
              getTestResultData,
              initialize,
              isValidTestData,
              print,
##              pushBack, ##  Array internal, also defined as primitive in base
##              runTestSuite,
              "setFunctionName<-",
              "setSourceFileName<-",
              show,
              verifyObject)
